.comment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;

  .vote-wrapper {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
  }

  .top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;

    div:first-child {
      display: flex;
      gap: 1rem;
      align-items: center;

      .username {
        font-size: 1rem;
      }

      img {
        height: 30px;
      }

      span {
        color: hsl(211deg, 10%, 45%);
      }
    }
  }

  .user-container {
    gap: 1rem;
    display: flex;
    flex-flow: column;
    width: 100%;

    p {
      color: hsl(211deg, 10%, 45%);
    }
  }
}

.reply-comment-container {
  width: 90%;
  border-radius: 10px;

  &:first-child {
    margin-top: 1rem;
  }
}

.functional-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;

  h2 {
    display: flex;
    gap: 0.2rem;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
  }

  .blue-icon {
    color: #5457b6;
  }

  .red-icon {
    color: #ed6468;
  }
}

.edit-textarea {
  resize: none;
  width: 95%;
  height: 90px;
  color: hsl(211deg, 10%, 45%);
  font-size: 1rem;
  overflow-y: hidden;
  border-radius: 10px;

  &,
  &:focus,
  &:active {
    border-color: hsl(211deg, 10%, 45%);
    outline: none;
    padding: 0.3rem;
  }
}

.update-button {
  padding: 0.8rem 1rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: hsl(238deg, 40%, 52%);
  border-radius: 10px;
}
